# When a new git tag is pushed:
# * Build and publish a new release to PyPI
# * Create new GitHub release with placeholder text linking to changelog
name: Release
on:
  push:
    tags: ['*']

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Build package distributions
        run: |
          python -m pip install flit
          flit build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          body: "See [changelog](https://github.com/melissawm/sphinx-tags/blob/main/CHANGELOG.md) for release details."
